fastapi
uvicorn
gunicorn
requests
beautifulsoup4
sentence-transformers==2.7.0
tokenizers==0.15.2
faiss-cpu
numpy==1.26.4
playwright
python-multipart
pymupdf
pdfplumber
unstructured[pdf]

pytesseract
easyocr
rapidocr-onnxruntime
Pillow
opencv-python-headless==4.8.1.78
paddleocr==2.7.3
paddlepaddle==2.6.2

rapidfuzz==3.9.6
asyncpg